name: Rust

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4

    - name: install rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Buid
      run: cargo build --release
      
    - name: upload 
      uses: actions/upload-artifact@v3
      with:
        name: oxwm
        path: target/release/*
